<% extend('./layouts/layouthome') %>

<div class="post">
  <div class="container">
    <div class="row">
      <div class="col-8-12 col-push-2">
        <div class="post-title">
          <%= article.title || ' ' %>
        </div>
        <div class="post-content">
          <%- article.content || ' ' %>
        </div>
        <div class="post-date">
          <%- moment(article.update_time * 1000).format('YYYY/MM/DD') %>
        </div>
        <div class="post-category">
          <a href="">
            <%- categories[article.category].name %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>